<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.cirad.ecec.sirius.design.Activator"
               id="org.cirad.ecec.sirius.design"
	       name="ecec">
    </component>
  </extension>
</plugin>
