<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ecec_cormas -->
      <package
            uri="http://www.cirad.org/dsl/ecec"
            class="ecec_cormas.Ecec_cormasPackage"
            genModel="model/ecec_cormas.genmodel"/>
   </extension>

</plugin>
